<%
var pageTitle = '';
var showPosts = page.posts;
var hasPaginator = true;
if (page.category){
	pageTitle = __('category') + ': ' + page.category;
}else if (page.tag) {
	pageTitle = __('tag') + ': ' + page.tag;
}else if (page.archive){
  if (page.year) {
		pageTitle = __('archive') + ': ' +  page.year + (page.month ? '/' + page.month : '');
	}else{
		pageTitle = __('archive_all');
		hasPaginator = false;
		showPosts = site.posts;
	}
}
%>
<% 
showPosts.toArray().sort(function(a, b){
	return b.date.format('YYYYMMDD') - a.date.format('YYYYMMDD');
});
 %>
<div class="largeCard">
	<div class="largeCardContent">
		<h1><%= pageTitle %></h1>
		<ul class="archiveList">
		<% showPosts.each(function(item){ %>
			<li>
					<a href="<%- url_for(item.path) %>">
						<p class="date"><%= item.date.format(config.date_format) %></p>
						<p><%= item.title %></p>
					</a>
			</li>
		<% }) %>
		</ul>
		<% if(hasPaginator){ %>
		<%- partial('paginator') %>
		<% } %>
	</div>
</div>

