<div class="background">
  <div class="ribbon"></div>
  <div class="tableCard"></div>
</div>
<div class="nav">
  <table>
    <tr>
      <% for (var i in theme.menu){ %>
        <td><a href="<%- url_for(theme.menu[i].directory) %>"><%-  __(theme.menu[i].page)%></a></td>
      <% } %>
    </tr>
    <% for (var j = 0; j < 4; j++){ %>
      <tr>
        <% for (var i in theme.menu){ %>
          <td></td>
        <% } %>
      </tr>
    <% } %>
  </table>
</div>
<div class="container">
  <div class="header">
    <div class="headerBackground">
      <div class="headerBackgroundImg"></div>
    </div>
    <div class="headerContent">
      <div class="avatar" alt="avatar">
        <a href="<%- url_for() %>">
          <img src="/img/avatar.jpg" alt="avatar">
        </a>
      </div>
      <div class="blogTitle">
        <h1><%- config.title %></h1>
        <p><%- config.subtitle %></p>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="mainBackground">
      <div class="mainBackgroundLeft"></div>
      <div class="mainBackgroundRight">
        <div class="mainBackgroundCode">
<!-- 这段代码是电影《极乐空间》空站重新启动的代码，原文在《Intel Architecture Software Developer’s Manual Volume 3: System Programming》8-24页 -->
          <pre>; fixup GDT base in descriptor
 MOV ECX,EDX
 MOV [EDX].bas_0_15+GDT_DESC_OFF,CX
 ROR ECX,16
 MOV [EDX].bas_16_23+GDT_DESC_OFF,CL
 MOV [EDX].bas_24_31+GDT_DESC_OFF,CH

 ; copy EPROM IDT to ram at:
 ; RAM_START+size(STARTUP_DATA)+SIZE (EPROM GDT)
 MOV ECX, CS_BASE
 ADD ECX, OFFSET (IDT_EPROM)
 MOV ESI, [ECX].table_linear
 MOV EDI,EAX
 MOVZX ECX, [ECX].table_lim
 MOV APP_IDT_ram[EBX].table_lim,CX
 INC ECX
 MOV APP_IDT_ram[EBX].table_linear,EAX
 MOV EBX,EAX
 ADD EAX,ECX
 REP MOVS BYTE PTR ES:[EDI],BYTE PTR DS:[ESI]</pre>
        </div>
      </div>
    </div>
