<ul class="postList">
  <% page.posts.each(function(post) { %>
    <li>
      <div class="postContent">
        <h3><a href="<%- url_for(post.path) %>"><%- post.title %></a></h3>
        <p class="date"><%= date(post.date, null) %></p>
        <% if(post.categories){ %>
          <p class="categories">
          <%- list_categories(post.categories, {
            show_count: false,
            class: 'article-category',
            style: 'none',
            separator: ','
          }) %>
          </p>
        <% } %>
        <p><p><% if (post.description){ %>
                <%- strip_html(post.description) %>
              <% } else if(post.excerpt) { %>
                <%- strip_html(post.excerpt) %>
              <% } else { %>
                <%- strip_html(post.content.substr(0, 220)) %>
              <% } %>
        </p></p>
        <a href="<%- url_for(post.path) %>" class="linkBtn"><%- __("read_more")%></a>
      </div>
      <div class="postLargeTitle"><p><%- post.title %></p></div>
    </li>
  <% }); %>
</ul>

<%- partial('paginator') %>
