<%
	var workList = JSON.parse( page.content );
%>

<div class="largeCard">
	<div class="largeCardContent">
		<h2><%- __('work') %></h2>
		<ul class="largeCardList">
		<%
			for(var itemName in workList) {
				var item = workList[itemName]; %>
				<li>
					<p class="name"><%= item.name %></p>
					<% if(item.image) { %>
					<img class="image" src="<%= item.image %>"></img>
					<% } %>
					<% if(item.description) { %>
					<p class="description"><%= item.description %></p>
					<% } %>
					<% if(item.date) { %>
					<p class="date"><%= item.date %></p>
					<% } %>
					<% if(item.demo) { %>
					<a href="<%- item.demo %>" target="_blank">DEMO</a>
					<% } %>
					<% if(item.link) { %>
					<a href="<%- item.link %>" target="_blank">LINK</a>
					<% } %>
					<% if(item.source) { %>
					<a href="<%- item.source %>" target="_blank">SOURCE</a>
					<% } %>
				</li>
		<% } %>
		</ul>
	</div>
</div>